.slider {
    display: flex;
    flex-wrap: wrap;
}

.slider-item {
    margin: $gutter;
    width: 20%;
}

.slider-img {
    height: 200px;
    opacity: 0.7;
    width: 100%;
    &:hover{
        opacity: 1;
    }    
}